@import '../sass-contents/variables.scss';
@import '../sass-contents/mixins.scss';

.container {
    .navigation-row {
        .navigation-container {
            background-color: $light-green;
            font-family: $font-slab;
            .navbar-brand {
                color: $font-secondary-color;
                font-weight: 700;
                padding-left: 30px;
                .nav-logo {
                    width: 60px;
                }
            }
            .navbar-brand:hover {
                text-shadow: 1px 1px 1px $secondary-color;
            }
            .collapse {
                .navbar-nav{
                    gap: 40px;
                    .nav-item {
                        .nav-link {
                            color: $primary-color;
                            font-family: $font-normal;
                            font-weight: 500;
                            cursor: pointer;
                            transition: 0.3s ease;
                            padding-right: 30px;
                        }
                        .nav-link:hover {
                            color: $orange-color;
                        }
                        .active {
                            color: $white-color;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@include mobile_l {
    .container {
        .navigation-row {
            .navigation-container {
                display: flex;
                justify-content: start;
                .navbar-toggler {
                    width: 20%;
                    margin-left: 60px;
                    background-color: $primary-color;
                    cursor: pointer;
                    span {
                        color: $font-secondary-color;
                        background-color: $primary-color;
                    }
                }
                .navbar-toggler:hover {
                    background-color: white;
                    span {
                        background-color: white ;
                    }
                }
            }
        }
    }
}
@include tablet {
    .container {
        .navigation-row {
            .navigation-container {
                .collapse {
                    .navbar-nav {
                        gap: 20px;
                    }
                }
            }
        }
    }
}
@include mobile {
    .container {
        .navigation-row {
            .navigation-container {
                justify-content: space-between;
                .navbar-brand {
                    color: $font-secondary-color;
                    font-weight: 700;
                    margin-right: 80px;
                    .nav-logo {
                        width: 60px;
                    }
                }
                .navbar-toggler {
                    margin-left: 30px;
                }
            }
        }
    }
}