.container {
    background-color: pink;
    height: 500px;

    .row {
        height: 200px;
        background-color: aliceblue;

        .starter {
            background-color: aqua;
            .home-header {
                background-color: bisque;
            }
        }
    }
}