@import './fonts.scss';

$primary-color: #d7dedc;
$secondary-color: #524948;
$light-green: #558564;
$green-color: #53a548;
$orange-color: #f39237;
$white-color: #ffffff;

$font-primary-color: #000000;
$font-secondary-color: #ffffff;

$font-normal: "Roboto Serif", serif;
$font-slab: "Roboto Slab", serif;
$font-sans: "Roboto", sans-serif;
